/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Navbar */
.nav-inicio {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    height: auto;
    min-height: 90px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-inicio ul {
    list-style: none;
    display: flex;
}

.nav-inicio ul li {
    list-style: none;
}

.nav-inicio ul li a {
    text-decoration: none;
    color: #a44040;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 20px;
}

.nav-inicio ul li a:hover {
    background-color: #f7f7f7;
    transition: 150ms;
}

/* Main */
.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    font-size: 40px;
    color: #a44040;
    font-weight: 600;
}

.seccion-avances, .seccion-avances2 {
    background-color: #F3F3F3;
    width: 100%;
    max-width: 800px;
    margin: 35px 0px;
    border-radius: 20px;
    padding: 40px 20px;
}

.seccion-avances h1, .seccion-avances2 h1 {
    text-align: center;
    color: #a44040;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.seccion-avances p, .seccion-avances2 p {
    color: #5E5E5E;
    font-size: 22.8px;
    text-align: justify;
}

.seccion-avances img, .seccion-avances2 img {
    border-radius: 20px;
    border: #a44040 3px solid;
}

.seccion-avances2 p {
    color: #5E5E5E;
    font-size: 22.8px;
    text-align: center;
}

.div-avances2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.detalles {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-colores {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 750px;
    justify-content: space-around;
    border:rgba(0, 0, 0, 0.25)
}

.clase-colores {
    height: 150px;
    width: 150px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border: solid 2px black
}

#color1 {
    background-color: #a44040;
}

#color2 {
    background-color: #CBC5D9;
}

#color3 {
    background-color: #E7F2CE;
}

#color4 {
    background-color: #F2DCC2;
}

#color5 {
    background-color: #F2F2F2;
}

footer {
    background-color: #CBC5D9;
    height: 80px;
    width: 100%;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 15px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.clase-imagenes-padre {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.clase-imagen-avances {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    padding: 20px;
}

.clase-imagen-avances p {
    padding: 25px;
    font-size: 19px;
    font-weight: 600;
}

#img1 {
    background-image: url('public/img/1.png');
}

#img2 {
    background-image: url('public/img/2.png');
}

#img3 {
    background-image: url('public/img/3.png');
}

.arbol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .nav-inicio {
        flex-direction: column;
        padding: 10px;
    }

    .nav-inicio ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-inicio ul li a {
        padding: 10px 15px;
        font-size: 14px;
    }

    .seccion-avances, .seccion-avances2 {
        width: 90%;
        padding: 20px;
        margin: 20px 10px;
    }

    .seccion-avances h1, .seccion-avances2 h1 {
        font-size: 30px;
    }

    .seccion-avances p, .seccion-avances2 p {
        font-size: 18px;
    }

    .caja-colores {
        flex-direction: column;
        align-items: center;
    }

    .clase-colores {
        width: 100%;
        max-width: 150px;
        margin: 10px 0;
        border: solid 2px black
    }

    .clase-imagenes-padre {
        grid-template-columns: 1fr;
    }

    .clase-imagen-avances p {
        font-size: 16px;
    }

    .arbol img {
        width: 100%;
        max-width: 700px;
    }
    footer {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    footer div {
        flex-direction: column;
        justify-content: center;
    }
}
